{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row banner main">
    <div class="col-md-12 padding-none">
        <h1> Edit Track </h1>
    </div>
</div>

<div class="row main-section">
    <div class="col-md-12 margin-bottom">

        <form action="{{url_for('editTrack', playlist_id=playlist_id, track_id = track.id )}}" method = 'POST'>

        <p>Name:</p>
        <input type='text' size='30' name='name' placeholder='{{ track.name }}'>

        <p>Artist:</p>
        <input type='text' size='30' name='artist' placeholder='{{ track.artist }}'>

        <p>Album:</p>
        <input type='text' size='30' name='album' placeholder='{{ track.album }}'>

        <br><br>
        <input type='submit' value='Update'>

        <a href="{{url_for('showTracks', playlist_id = playlist_id)}}">Cancel</a>

        </form>

    </div>
</div>

{% endblock %}